<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes"
    />

    <!-- PG크로스브라우징필수내용 -->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- // PG크로스브라우징필수내용 -->

    <title>ouii template</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/common.css" />
    <!-- 해당 CSS는 쇼핑몰 전체 페이지에 영향을 줍니다. 삭제와 수정에 주의해주세요. -->
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/ec-base-ui.css" />
    <link rel="stylesheet" href="css/ec-base-button.css" />
    <link rel="stylesheet" href="css/ec-base-tab.css" />
    <link rel="stylesheet" href="css/ec-base-table.css" />
    <link rel="stylesheet" href="css/ec-base-tooltip.css" />
    <link rel="stylesheet" href="css/ec-base-help.css" />
    <link rel="stylesheet" href="css/ec-base-fold.css" />
    <link rel="stylesheet" href="css/ec-base-box.css" />
    <link rel="stylesheet" href="css/ec-base-desc.css" />
    <link rel="stylesheet" href="css/ec-base-product.css" />
    <link rel="stylesheet" href="css/ec-base-prdInfo.css" />
    <link rel="stylesheet" href="css/ec-base-paginate.css" />
    <link rel="stylesheet" href="/myfolder/css/ub-variables.css" />
    <link rel="stylesheet" href="/myfolder/css/ub-grid-system.css" />

    <!-- 아래가 원본 -------------------------------------------------------------------- -->
    <!--@css(/layout/basic/css/common.css)-->
    <!-- 해당 CSS는 쇼핑몰 전체 페이지에 영향을 줍니다. 삭제와 수정에 주의해주세요. -->
    <!--@css(/layout/basic/css/layout.css)-->
    <!--@css(/layout/basic/css/ec-base-ui.css)-->
    <!--@css(/layout/basic/css/ec-base-button.css)-->
    <!--@css(/layout/basic/css/ec-base-tab.css)-->
    <!--@css(/layout/basic/css/ec-base-table.css)-->
    <!--@css(/layout/basic/css/ec-base-tooltip.css)-->
    <!--@css(/layout/basic/css/ec-base-help.css)-->
    <!--@css(/layout/basic/css/ec-base-fold.css)-->
    <!--@css(/layout/basic/css/ec-base-box.css)-->
    <!--@css(/layout/basic/css/ec-base-desc.css)-->
    <!--@css(/layout/basic/css/ec-base-product.css)-->
    <!--@css(/layout/basic/css/ec-base-prdInfo.css)-->
    <!--@css(/layout/basic/css/ec-base-paginate.css)-->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- theme03 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- theme03 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Red+Hat+Display:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- theme04 -->

    <!--@css(/layout/basic/css/swiper.min.css)-->
    <!--@js(/layout/basic/js/swiper-bundle.min.js)-->
    <!--@js(/js/module/product/sale_price.js)-->

    <!--@js(/layout/basic/js/basic.js)-->
    <!--@js(/layout/basic/js/layout.js)-->
    <!--@js(/js/common.js)-->
    <!--ez-favicon[-->
    <!--ez-favicon]-->
    <!--@js(/ez/init.js)-->
  </head>
  <body class="theme01" data-ez-theme="theme01">
    <!-- <div id="skipNavigation">
      <p><a href="#category">전체상품목록 바로가기</a></p>
      <p><a href="#contents">본문 바로가기</a></p>
    </div> -->
    <div id="wrap">
      <!--@import(/layout/basic/header.html)-->
      <!--@import(/layout/basic/sidebar.html)-->
      <div id="container">
        <div id="contents">
          <!-- 메인 콘첸츠 영역 -->

          <!--@contents-->
          <div
            app4you-smart-banner="smart-banner-admin-RES00009"
            app4you-smart-banner-html="true"
            class="xans-element- xans-smart-banner-admin xans-smart-banner-admin-RES00009 section section_full"
            data-ez="module-1lmcq4p-1"
            data-ez-layoutsize="full"
            data-ez-size-pc="1920 600"
            data-ez-size-mobile="720 767"
            data-ez-banner-area-no="1309679"
            style="
              --pc-width: 1920px;
              --pc-height: 600px;
              --mobile-width: 720px;
              --mobile-height: 767px;
            "
          >
            <style>
              @media all and (min-width: 721px) {
                [data-ez="module-1lmcq4p-1"].xans-smart-banner-admin.section.section_fixed {
                  max-width: none !important;
                  width: auto !important;
                }
                [data-ez="module-1lmcq4p-1"].xans-smart-banner-admin.section.section_fixed
                  img {
                  width: auto !important;
                  max-width: none !important;
                  margin: 0 auto;
                  display: block;
                }
              }
              @media all and (max-width: 720px) {
                [data-ez="module-1lmcq4p-1"].xans-smart-banner-admin.section.section_fixed {
                  max-width: 100% !important;
                }
                [data-ez="module-1lmcq4p-1"].xans-smart-banner-admin.section.section_fixed
                  img {
                  width: auto !important;
                  max-width: none !important;
                  margin: 0 auto;
                  display: block;
                }
              }
            </style>
            <div
              data-slider="true"
              data-type="full"
              data-mode="fade"
              data-minslides="1"
              data-maxslides="10"
              data-controls="true"
              data-adaptiveheight="true"
              data-autohover="true"
              data-responsive="true"
              class="smart-banner-wrapper circle"
              data-pager="true"
              data-auto="true"
              data-speed="500"
              data-pause="2000"
              data-banner-size-width="1920"
              data-banner-size-height="600"
            >
              <div class="smart-banner-bx-wrapper">
                <div
                  class="bx-viewport"
                  style="
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    height: 408.984px;
                  "
                >
                  <ul>
                    <li>
                      <a
                        href="/skin-skin7/product/%EB%B8%94%EB%A1%9D-%EB%83%89%EC%9E%A5%EA%B3%A0-%EC%9E%90%EC%84%9D/48/category/45/display/1/"
                        target="_self"
                        ontouchstart="APP4YOU_SMART_BANNER.incrementBanner('2660229')"
                        onclick="APP4YOU_SMART_BANNER.incrementBanner('2660229')"
                        style="cursor: pointer"
                        ><picture
                          ><source
                            media="(max-width: 720px)"
                            srcset="
                              https://file.cafe24cos.com/banner-admin-live/upload/kirishop/41ebe713-06b4-4c81-d7d6-7f2a063d7b98.png
                            " />
                          <img
                            src="https://file.cafe24cos.com/banner-admin-live/upload/kirishop/e4ec6dde-6a67-4a94-b6fd-6c309472cc18.png" /></picture
                      ></a>
                    </li>
                    <li>
                      <a
                        href="/skin-skin7/product/%EC%95%A0%ED%94%8C%EC%9B%8C%EC%B9%98-%EC%B6%A9%EC%A0%84%EB%8F%85/55/category/52/display/1/"
                        target="_self"
                        ontouchstart="APP4YOU_SMART_BANNER.incrementBanner('2660230')"
                        onclick="APP4YOU_SMART_BANNER.incrementBanner('2660230')"
                        style="cursor: pointer"
                        ><picture
                          ><source
                            media="(max-width: 720px)"
                            srcset="
                              https://file.cafe24cos.com/banner-admin-live/upload/kirishop/c1a8e865-7b31-4096-e1d3-cfe615e2c735.png
                            " />
                          <img
                            src="https://file.cafe24cos.com/banner-admin-live/upload/kirishop/53e85b0f-c50b-4ce6-f2e9-e051e65b4a4c.png" /></picture
                      ></a>
                    </li>
                    <li>
                      <a
                        href="/skin-skin7/product/%EA%B0%90%EC%9E%90%ED%8A%80%EA%B9%80-%EC%A7%91%EA%B2%8C/42/category/45/display/1/"
                        target="_self"
                        ontouchstart="APP4YOU_SMART_BANNER.incrementBanner('2660231')"
                        onclick="APP4YOU_SMART_BANNER.incrementBanner('2660231')"
                        style="cursor: pointer"
                        ><picture
                          ><source
                            media="(max-width: 720px)"
                            srcset="
                              https://file.cafe24cos.com/banner-admin-live/upload/kirishop/10a4ba77-0b9b-4ad9-b7fa-d92fa594a59a.png
                            " />
                          <img
                            src="https://file.cafe24cos.com/banner-admin-live/upload/kirishop/92b4e5ee-cae7-4cb8-c2d6-e6a98a2e0d6d.png" /></picture
                      ></a>
                    </li>
                  </ul>
                </div>
                <div class="bx-controls bx-has-pager bx-has-controls-direction">
                  <div class="bx-pager bx-default-pager">
                    <div class="bx-pager-item">
                      <a href="" data-slide-index="0" class="bx-pager-link"
                        >1</a
                      >
                    </div>
                    <div class="bx-pager-item">
                      <a href="" data-slide-index="1" class="bx-pager-link"
                        >2</a
                      >
                    </div>
                    <div class="bx-pager-item">
                      <a
                        href=""
                        data-slide-index="2"
                        class="bx-pager-link active"
                        >3</a
                      >
                    </div>
                  </div>
                  <div class="bx-controls-direction">
                    <a class="bx-prev" href=""></a
                    ><a class="bx-next" href=""></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--@import(/layout/basic/footer.html)-->
    </div>
    <!-- //wrap -->

    <div module="Layout_multishopShipping">
      <!--@css(/layout/basic/css/ec-base-layer.css)-->
      <!--@css(/css/module/layout/multishopShipping.css)-->
      <!--@js(/js/module/layout/multishopShipping.js)-->
      <!-- <div class="worldshipLayer ec-base-layer typeModal">
        <div class="header">
          <h3>WORLD SHIPPING</h3>
        </div>
        <div class="content">
          <p class="desc">
            PLEASE SELECT THE DESTINATION COUNTRY AND LANGUAGE :
          </p>
          <select module="Layout_multishopShippingCountrylist">
            <option value="{$country_code}" {$country_default_selected}>
              SHIPPING TO : {$country_name}
            </option>
            <option value="{$country_code}" {$country_default_selected}>
              SHIPPING TO : {$country_name}
            </option>
          </select>
          <select module="Layout_multishopShippingLanguagelist">
            <option value="{$shop_domain}" {$shop_default_selected}>
              LANGUAGE : {$shop_language_name}
            </option>
            <option value="{$shop_domain}" {$shop_default_selected}>
              LANGUAGE : {$shop_language_name}
            </option>
          </select>
        </div>
        <div class="ec-base-button">
          <a href="#none" class="btnSubmitFix sizeM">GO</a>
        </div>
        <a href="#none" class="btnClose">닫기</a>
      </div> -->
    </div>

    <div class="layer_shadow" id="layer_shadow"></div>
    <div id="layoutDimmed" class="dimmed"></div>

    <link rel="stylesheet" href="css/sub_style.css" />
    <link rel="stylesheet" href="css/sub_theme.css" />
    <link rel="stylesheet" href="css/add_theme01.css" />
    <link rel="stylesheet" href="css/add_theme02.css" />
    <link rel="stylesheet" href="css/add_theme03.css" />
    <link rel="stylesheet" href="css/add_layout.css" />

    <link rel="stylesheet" href="/myfolder/mystylecss.css" />

    <script src="/myfolder/js/myscript.js"></script>

    <!-- 아래가 원본 -------------------------------------------------------- -->
    <!--@css(/layout/basic/css/sub_style.css)-->
    <!--@css(/layout/basic/css/sub_theme.css)-->
    <!--@css(/layout/basic/css/add_theme01.css)-->
    <!--@css(/layout/basic/css/add_theme02.css)-->
    <!--@css(/layout/basic/css/add_theme03.css)-->
    <!--@css(/layout/basic/css/add_layout.css)-->
  </body>
</html>


